
<div layout="row" layout-align="center center" class="auth-wrap" style="width: 85%" id="auth-wrap">
    <div flex="60" layout="column" layout-align="center center" style="position: relative">
        <img src="img/logos/auth_logo.png" alt="" class="user-msg-off" ng-class="{'user-msg-on': isAuthSuccess}"/>
        <md-icon ng-show="isAuthSuccess" md-svg-src="img/ic_thumb_up_black_24px.svg" class="auth-state-icon done" ng-class="{'user-active-icon': isAuthSuccess}"></md-icon>
        <h3 class="user-auth-msg" ng-if="isAuthSuccess" ng-class="{'msg-active': isAuthSuccess}">{{authMessageSuccess}}</h3>
    </div>
    <div flex="40" layout="column" layout-align="center center">
        <p layout="row" layout-align="start center" ng-if="!isAuthSuccess && authMessageError != ''" class="user-auth-msg" ng-class="{'msg-error': !isAuthSuccess}"><md-icon md-svg-src="img/ic_report_black_24px.svg" class="error-small error"></md-icon>{{authMessageError}}</p>
        <md-tabs md-selected="authSwitch" md-dynamic-height md-border-bottom>
            <md-tab label="login">
                <md-card class="loginBox" md-whiteframe="3dp">
                    <!--<div style="margin-top: 10px;">-->
                    <!--<a ng-href="http://www.smoothflow.io/"><img ng-src="../images/sf-full-small.png" class="md-card-image" alt="Washed Out"></a>-->

                    <!--</div>-->
                    <md-card-content class="signup-card-content">
                        <form name="loginform" ng-submit="AuthenticateUser()">
                            <div class="login-wrap">
                                <md-input-container layout="row" layout-align="start center">
                                    <label>Email</label>
                                    <md-icon md-svg-src="img/ic_mail_24px.svg" class="iconColor"></md-icon>
                                    <input required type="email" id="userName" name="userName" ng-model="user.userName" />
                                </md-input-container>

                                <md-input-container layout-align="start center" layout="row">
                                    <label>Password</label>
                                    <md-icon md-svg-src="img/ic_lock_24px.svg" class="iconColor"></md-icon>
                                    <input required type="password" name="password" ng-model="user.password" />
                                </md-input-container>
                                <div layout="row" layout-align="space-between stretch">
                                    <div  layout-align="start center"><a href="" class="forgot-pword" ng-click="ResendEmail()" ng-show="isAuthSuccess" >Email Resend</a></div>
                                <div  layout-align="end center"><a href="" class="forgot-pword" ng-click="switchAuthPartials(2)">Forgot password?</a></div>

                                </div>

                                <div layout="row" class="remember-me" layout-align="start center">
                                    <md-checkbox class="md-primary" ng-model="RememberMe" aria-label="Remember me" layout="row" layout-align="start center">
                                        Remember me
                                    </md-checkbox>
                                </div>
                            </div>

                            <div id="loginButton " class="md-actions" layout="row" layout-align="center center">
                                <md-button class="md-raised md-primary" type="submit" flex>LOGIN</md-button>
                            </div>
                        </form>

                        <!--<div class="md-actions " layout="row " layout-align="center center ">-->
                        <!--<style>-->
                        <!--text {-->
                        <!--width: 80%;-->
                        <!--text-align: center;-->
                        <!--border-bottom: 1px solid rgb(63, 81, 181);-->
                        <!--line-height: 0.1em;-->
                        <!--margin-top: 10px;-->
                        <!--margin-bottom: 10px;-->
                        <!--}-->

                        <!--text span {-->
                        <!--background: #fff;-->
                        <!--padding: 0 10px;-->
                        <!--font-style: italic;-->
                        <!--font-weight: 700;-->
                        <!--color: rgb(63, 81, 181);-->
                        <!--}-->
                        <!--</style>-->
                        <!--<text><span>or</span></text>-->
                        <!--</div>-->
                    </md-card-content>
                    <md-divider></md-divider>

                    <div layout="column" layout-align="center center" flex class="sm-auth-wrap">
                        <div class="or">or</div>
                        <div class="md-actions" layout="row" layout-align="center center" flex>
                            <md-button class="md-raised md-primary secondaryLogin " style="background:#3b5998 " href="http://smoothflow.io/signup/facebookRegister/
						"><span class="ion-social-facebook-outline "></span><span class="loginBtnLabel ">Facebook </span></md-button>
                            <md-button class="md-raised md-primary secondaryLogin " style="background:#dd4b39 " href="http://smoothflow.io/signup/googlePlusRegister/
						"><span class="ion-social-googleplus "></span><span class="loginBtnLabel ">Google+</span></md-button>
                            <md-button class="md-raised md-primary secondaryLogin " style="background:#00aced " href="http://smoothflow.io/signup/twitterRegister/?connect=twitter"><span class="ion-social-twitter-outline "></span><span class="loginBtnLabel ">Twitter </span></md-button>
                        </div>
                    </div>
                </md-card>
                <div id="footerButtons" class="md-primary" layout="row" layout-align="center center">
                    New to SmoothFlow? <md-button class="md-raised" ng-click="switchAuthPartials(1)">Signup Now!</md-button>
                </div>
            </md-tab>

            <md-tab label="signup">
                <md-card class="loginBox" md-whiteframe="3dp">
                    <!--<div style="margin-top: 10px;">-->
                    <!--<a ng-href="http://www.smoothflow.io/"><img ng-src="../images/sf-full-small.png" class="md-card-image" alt="Washed Out"></a>-->

                    <!--</div>-->
                    <md-card-content>
                        <form name="loginform" ng-submit="SignupUser()" autocomplete="off">

                            <div class="login-wrap signup-wrap">
                                <md-input-container layout="row" layout-align="start center">
                                    <label>Your name</label>
                                    <md-icon md-svg-src="img/ic_person_24px.svg" class="iconColor"></md-icon>
                                    <input required type="text" name="fname" ng-model="user.fname" />
                                </md-input-container>

                                <div layout="row" layout-align="start center">
                                    <md-input-container layout="row" layout-align="start center" flex>
                                        <label>Domain</label>
                                        <md-icon md-svg-src="img/ic_person_24px.svg" class="iconColor"></md-icon>
                                        <input ng-blur="checkTenantAvailablity(user.domain)" ng-keyup="validateTenantName(user.domain)" type="text" name="domain" ng-model="user.domain" />
                                    </md-input-container>
                                    <md-input-container>
                                        <div style="font-size: 13px;color: #aaaaaa;">.{{hostname}}</div>
                                    </md-input-container>
                                    <md-icon class="auth-validation-icon" ng-if="Available" md-svg-src="img/ic_done_24px.svg"></md-icon>
                                    <md-icon class="auth-validation-icon" ng-if="NotAvailable" md-svg-src="img/ic_close_24px.svg"></md-icon>
                                    <md-icon class="auth-validation-icon" ng-if="AvailabilityNA" md-svg-src="img/ic_error_outline_24px.svg"></md-icon>
                                </div>

                                <div layout="row" layout-align="start center">
                                    <md-input-container layout="row" layout-align="start center" flex>
                                        <label>Email</label>
                                        <md-icon md-svg-src="img/ic_mail_24px.svg" class="iconColor"></md-icon>
                                        <input required type="email" id="userName" name="userName" ng-model="user.userName" ng-disabled="isinvited" ng-blur="getProfileDetails(user.userName)" ng-keyup="typingEmail()"/>
                                    </md-input-container>
                                    <md-icon class="auth-validation-icon" ng-if="isavalable" md-svg-src="img/ic_done_24px.svg"></md-icon>
                                    <md-icon class="auth-validation-icon" ng-if="isnotavalable" md-svg-src="img/ic_close_24px.svg"></md-icon>
                                    <md-icon class="auth-validation-icon" ng-if="isavailabilityNA" md-svg-src="img/ic_error_outline_24px.svg"></md-icon>
                                </div>

                                <md-input-container layout="row" layout-align="start center">
                                    <label>Password</label>
                                    <md-icon md-svg-src="img/ic_lock_24px.svg" class="iconColor"></md-icon>
                                    <input required type="password" name="cpassword" ng-model="user.cpassword" />
                                </md-input-container>

                                <div layout="row" class="remember-me" layout-align="start center">
                                    <md-checkbox class="md-primary" ng-model="isChecked" aria-label="Accept Terms & Condition" style="margin-top: auto;font-size: smaller;">I agree with the <a target="_blank" href="http://www.smoothflow.io/#/terms-and-conditions">Terms and Conditions</a>						and <a target="_blank" href="http://www.smoothflow.io/#/acceptable-use-policy">Acceptable Use Policy</a>.
                                    </md-checkbox>
                                </div>
                            </div>

                            <div id="loginButton " class="md-actions" layout="row" layout-align="center center">
                                <!--<md-button class="md-raised md-primary" type="submit" ng-disabled="!isChecked || isavalable==false || Available==false || loginform.$invalid" flex>SIGNUP</md-button>-->
                                <md-button class="md-raised md-primary" type="submit" ng-disabled="!isChecked || isavalable==false || Available==false || loginform.$invalid" flex>SIGNUP</md-button>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>
                <div id="footerButtons" class="md-primary" layout="row" layout-align="center center">
                    Already have an account? <md-button class="md-raised" ng-click="switchAuthPartials(0)">Login Now!</md-button>
                </div>
            </md-tab>

            <md-tab label="forgot password">
                <md-card class="loginBox" md-whiteframe="3dp">
                    <!--<div style="margin-top: 10px;">-->
                    <!--<a ng-href="http://www.smoothflow.io/"><img ng-src="../images/sf-full-small.png" class="md-card-image" alt="Washed Out"></a>-->

                    <!--</div>-->
                    <md-card-content>
                        <form name="loginform" ng-submit="ForgotPassword($event)" autocomplete="off">
                            <div class="forgot-pword-wrap">
                                <h4>Forgot your password?</h4> <p style="font-size: 14px"> Please enter your registered Email Address to reset the password.</p><br>
                                <md-input-container layout-align="start center" layout="row">
                                    <label>Registered Email</label>
                                    <md-icon md-svg-src="img/ic_mail_24px.svg" class="iconColor"></md-icon>
                                    <input required type="email" id="userName" name="userName" ng-model="user.userName" />
                                </md-input-container>
                            </div>

                            <div id="loginButton" class="md-actions" layout="row" layout-align="center center">
                                <md-button class="md-raised md-primary" type="submit" ng-disabled="loginform.userName.$invalid" flex>RESET PASSWORD</md-button>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>
                <div id="footerButtons" class="md-primary" layout="row" layout-align="start center">
                    <md-button ng-click="switchAuthPartials(0)">< Back</md-button>
                </div>
            </md-tab>
        </md-tabs>
    </div>
</div>
